.user-component {
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle {
    margin-top: 24px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__percent {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 900;
    color: rgba(255, 40, 33, 1);
}

.user-component__avatar--xl {
    width: 100px;
    height: 100px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
}

.user-component__list {
    margin-top: 30px;
    width: 100%;
}
.user-component__listitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2);
}
.user-component__listitem__box {
    display: flex;
    flex-direction: row;
    position: relative;
}
.user-component__listitem__img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.user-component__listitem__txt {
    margin-left: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.user-component__listitem__name {
    font-size: 15px;
}
.user-component__listitem__btn {
    display: flex;
    align-items: center;
}

.user-component__listitem__percent {
    font-size: 18px;
    color: var(--blue);
}

.user-component__listitem__link {
    position: relative;
}

.user-component__listitem__notification {
    position: absolute;
    left: 15px;
    bottom: 20px;
    animation: notificationAnimation 2s ease-in-out infinite;
}
